*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff;
    
}
body{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

        
}
.priceheading{
    text-align: center;
    font-size: 3rem;
    
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.price-card{
    
    height: 70vh;
    width: 400px;
    display: flex;
    /* align-items: center; */
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
    flex-direction: column;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-heading{
    height: 10vh;
    width: 50%;
    margin: 0 27%;
    background-color: darkviolet;
    padding:4%;
    padding-top: 4%;
    padding-bottom: 10px;
    margin-top: -6%;
    border-radius: 30px;
    font-size: 2rem;
    
}
.pricing{
    font-size: 1.5rem;
    padding: 2%;
}
.offers{
    font-size: 1.4rem;
    margin-top: 3%;
}
.offers li{
    padding: 2%;
}
.order{
    width: 50%;
    align-self: center;
    margin: 5%;
    padding: 5%;
    font-size: 1.4rem;
    border-radius: 30px;
    margin-bottom: 10%;
    background: cornflowerblue;
    cursor: pointer;
    outline: none;
    border: none;
}
.order:hover{
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.06);
}
