*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    
}
.priceheading{
    text-align: center;
    font-size: 3rem;
    
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.price-card{
    height: 70vh;
    width: 400px;
    display: flex;
    /* align-items: center; */
    background: rebeccapurple;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
    flex-direction: column;
}
.card-heading{
    height: 10vh;
    width: 50%;
    margin: 0 27%;
    background-color: red;
    padding:4%;
    padding-top: 4%;
    padding-bottom: 10px;
    margin-top: -6%;
    border-radius: 30px;
    font-size: 2rem;
    
}
.pricing{
    font-size: 1.5rem;
    padding: 2%;
}
.offers{
    font-size: 1.4rem;
    margin-top: 3%;
}
.offers li{
    padding: 2%;
}
.order{
    width: 50%;
    align-self: center;
    margin: 5%;
    padding: 5%;
    font-size: 1.4rem;
    border-radius: 30px;
    margin-bottom: 10%;
}
.background--custom {
  
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-10deg) scale(2) translateY(0%);
    --gradient-color-1: #5c8faa; 
    --gradient-color-2: #45ecca; 
    --gradient-color-3: #d14304;  
    --gradient-color-4: #177dba;
    --gradient-speed: 0.000006;
  }